* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --width: 300px;
    --text-align-global: center;
    --text-align-h2: left;
    --fieldset-width: 550px;
}

/* html {
    text-align: var(--text-align-global);
} */

form {
    width: var(--fieldset-width);
}

fieldset{
    border:none;
    max-width: --fieldset-width;
    /* margin: 0 auto;
    text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

div{
    width: var(--fieldset-width);
}

h2 {
    padding: 10px 0 0 0;
    font-size: 16px;
}
h2::after {
    content: ' *';
    color: red;
    font-size: 10px;
}
.sc__name, .sc__e-mail, .sc__thema, .sc__nachricht, .sc__submit {
    display: flex;
    flex-direction: column;
    align-items:self-start;
    width: var(--fieldset-width);
}

.sc__name div {
    display: flex;
    width: var(--fieldset-width);
    gap: 5px;
}

.sc__name div input {
    flex: 1; 
    /* ! Der Platz wird gleichmäßig verteilt! */
}

input[type="submit"] {
    width: var(--fieldset-width);
    color: white;
    background-color: rgb(8, 161, 161);
}
input[type="submit"]:hover{
    background-color: blueviolet;
}

